
<div class="jumbotron jumbotron-fluid text-center align-items-center"
     style="background-image: url('<%= url_for(@featured_article.image) if @featured_article.image.attached? %>');">
  <div>
    <h1><%= @featured_article.title %></h1>
  </div>
</div>


<div class="d-flex">

	<% @categories.each do |category| %>
	<% unless category.articles.last.nil? %>
		<div class="card"
		     style="background-image: url('<%= url_for(category.articles.last.image) if category.articles.last.image.attached? %>');
		     	 width: 18rem;">
		  <div>
		    <h3><%= link_to category.name, category_path(category) %></h3>
		  </div>
		  <div>
		    <p><%= category.articles.last.title %></p>
		  </div>
		</div>
	<% end %>
	<% end %>
</div>

