<div class="row">
	<div class="col-md-6 mx-auto">
		<h3>Categories</h3>
		<% @categories.each do |category| %>
			<div>
				<%= category.name %> 
				<%= category.priority %> 
				<%= link_to 'Edit', edit_category_path(category) %> 
				<%= link_to 'Delete', category_path(category), method: :delete,
													data: { confirm: "Are you sure you want to delete this category?"} %>
			</div>
		<% end %>
		<%= link_to 'Create New Category', new_category_path %>
	</div>

</div>




